.firts-one {
    margin-bottom: -420px;
}
    

.firts-sec {
    margin-bottom: -250px;
}
.img-four{
    margin-top: 100px;
}
.bb{
    flex-direction: column;
    height: 500px;
}
@media only screen and (max-width:620px){
    .bb{
        height: auto;
        flex-direction: column-reverse;
    }
    .firts-one , .firts-sec{
        margin: 0;
    }
    .img-four{
        margin: 0;
    }
    
}


.top-div {

    background-color:  rgb(65, 65, 227);
    border-radius: 20px 20px 0px 0px;
    margin-top: -40px;

}

.s-hover{
    transition: .3s ease-in-out;
    height: 340px;
}
.s-hover:hover{
    -moz-transform: scale(1.09);
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    transform-origin: bottom;
    transition: .3s ease-in-out;
}

.boxss {
    transition: .3s linear;
}
.boxss:hover {
    transform: scale(1.09);
    transform-origin: bottom;
    transition: .3s linear;


}